.layout {
    width: 100%;
    max-width: 1024px;
    margin: auto;
    background-color: white;
    border-collapse: collapse;
}

.layout tr td {
    padding: 20px;
    vertical-align: top;
    border: solid 1px gray;
}

.header {
    font-size: 30px;
}

.footer {
    text-align: center;
}

.sidebarHeader {
    font-size: 20px;
}

.sidebar ul {
    padding-left: 20px;
}

a, a:visited {
    color: darkgreen;
}

div.signUpForm {
    width: 300px;
    margin: 0 auto;
    padding: 40px;
    border: 2px solid orange;
    border-radius: 15px;
    text-align: center;
}
.signUpForm input {
    margin: 10px;
}

.errorMessage {
    color: red;
    font-size: 14px;
}